.main{
    background-position: center;
    background-size: cover;
    position: absolute;
    background-color: papayawhip;
    top: 0;
    right: 0;
    bottom: -30%;
    left: 0;
    overflow-x: hidden;
}