// .border{
//     background-color: papayawhip;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     z-index: 6;
// }

.main{
    background-position: center;
    background-size: cover;
    position: absolute;
    background-color: papayawhip;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}