$primary-color: #842835;
$font: 'Courier New', Courier, monospace;

.nav{
    position: fixed;
    right: 5%;
    z-index: 15;
}

.divider{
    font-family: $font;
    color: $primary-color;
    display: inline;
    font-weight: 400;
}

.item{
    font-family: $font;
    color: $primary-color;
    display: inline;
    font-weight: 400;
}

.item:hover {font-weight: 900; cursor: pointer; position: relative; bottom: -2px; transition-duration: 500ms;}