$primary-color: #842835;
$font: 'Courier New', Courier, monospace;

.text{
    font-family: $font;
    color: $primary-color;
    position: relative;
    left: 10%;
    top: 5vh;
    max-width: 80%;
    min-height: 100%;
}

.nav{
    position: fixed;
    right: 5%;
    z-index: 15;
}

.resume{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

body{
    background-color: papayawhip;
}

.divider{
    font-family: $font;
    color: $primary-color;
    display: inline;
    font-weight: 400;
}

.item{
    font-family: $font;
    color: $primary-color;
    display: inline;
    font-weight: 400;
}

.main{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.item:hover {font-weight: 900; cursor: pointer; position: relative; bottom: -2px; transition-duration: 500ms;}